:root {
    --bs-primary-rgb: 14, 84, 161;
    --bs-primary: rgb(var(--bs-primary-rgb));
    --bs-bg-opacity: .8;
}

body {
    padding-top: 3.5rem;
}

footer a,
footer a:hover {
    color: white;
}

.btn-primary {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity));
    --bs-btn-hover-bg: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity));
}

.btn-primary:focus {
    --bs-btn-bg: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity));
    --bs-btn-border-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity));
    --bs-btn-border-width: 3px;
}